*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
src/
include/
LICENSE*
examples/
static/task

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
dataset
darknet53.conv.74
scripts
*.a
*.so
*.weights
templates/test_templates