<script type="text/javascript"> 

    $(document).ready(function() {
   
       function functionToLoadFile(){
         jQuery.get('http://www.XXXXX.com/nowplaying/NowPlaying.txt', function(data) {
          var myvar = data;
          var parts = myvar.split(/\n/);
          var songtitle = parts[0];
          var songartist = parts[1];
          var songalbum = parts[2];
          var songtime = parts[3];
   
          $('#songtitleholder').html(songtitle);
          $('#songartistholder').html(songartist);
          $('#songalbumholder').html(songalbum);
          setTimeout(functionToLoadFile, 5000);
       });
       }
   
       setTimeout(functionToLoadFile, 10);
   });
   
   </script>