<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
       <title>Deep Learning</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">      
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
       
    </head>
    <style>
        img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 50%;
                height: auto;
            }
    </style>
    <body> 
        {% include '_navbar.html' %}

        <div class="container">
            <h2>Test</h2>           
            <img src="static/Result/{{img}}" alt="Cinque Terre" width="1000" height="300">
            <input type="button" value="Reload Image" onclick="reloadImg()" />
            <a href="javascript:reloadImg()">Reload Image</a>
        </div>    
    </body>
    <script>
       
        function reloadImg() {
            var d=new Date();
            document.getElementById("imageid").src="captcha_image.php?a="+d.getTime();
        }
    </script>
</html>
