<!DOCTYPE html>
        <head>
                <title>Test</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>
                {% include '_navbar.html' %}        
                <div class="container">
                        <h2>Test</h2>
                        <form action="{{ url_for('test') }}" method="post">  
                                <div class="form-group">
                                <label for="FormControlSelect0">Choose dataset: </label>
                                <select name="comp0_select" class="form-control" id="FormControlSelect0">
                                        <option selected="selected">Mura_LCD4</option>
                                        {%- for item in dirList recursive %}
                                                <option>{{ item }} </option>
                                        {%- endfor %}
                                </select>
                                </div>
                        </form>
                        <form action="{{ url_for('test') }}" method="post">  
                                <div class="form-group">
                                <label for="FormControlSelect1">Choose weights: </label>
                                <select name="comp1_select" class="form-control" id="FormControlSelect1">
                                        <option selected="selected"></option>
                                        {%- for item in modelname recursive %}
                                                <option>{{ item }} </option>
                                        {%- endfor %}
                                </select>
                                </div>
                                <div class="form-group">
                                        <label for="FormControlSelect2">Choose Single Image: </label>
                                        <select multiple  name="comp2_select" class="form-control" id="FormControlSelect2">
                                                <option selected="selected">2008_008556.jpg</option>
                                                {%- for item in imagename recursive %}
                                                        <option>{{ item }} </option>
                                                {%- endfor %}
                                        </select>
                                </div>
                                <button type="submit" class="btn btn-primary" name="btn" id="test_start_btn" >Start</button>
                        </form>
                </div>
        </body>
</html>