<html>
    <head>
        <title>Deep Learning</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
        <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

    </head>
    {% include '_navbar.html' %}
    
    <style>
            button:disabled,
            button[disabled]{
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
    </style>

    <body>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container">
            <br>
            <h2>YOLO Parameter</h2>
                {% if error %}
                <div class="alert alert-danger">
                <strong>Error:</strong> {{ error }}
                </div>
                {% endif %}
                <form action="{{ url_for('option') }}" method="post">
                    <div class="form-group" >
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                            <label>Dataset: </label>
                            <input disabled type="text" class="form-control" id="dataset" value="{{ paras[0] }}">
                        </div>
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                            <label for="task_name">Task name:</label>
                            <input disabled type="text" class="form-control" id="task_name" name="task_name" value="{{ paras[7] }}">
                            <br>
                        </div>
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                            <label for="max_batches">Train_epoch:</label>
                            <input disabled type="number" class="form-control" id="max_batches" value="{{ paras[1] }}" min=1>
                            <br>
                        </div>
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                            <label for="learning_rate">Learning rate:</label>
                            <input disabled type="number" class="form-control" id="learning_rate" name="average_loss" value="{{ paras[2] }}" min=0>
                            <br>
                            </div>
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                            <label for="batch">Batch_size:</label>
                            <input disabled type="number" class="form-control" id="batch" name="batch" value="{{ paras[3] }}" min=1>
                            <br>
                            </div>
                        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                            <label for="subdivisions">Subdivisions:</label>
                            <input disabled type="number" class="form-control" id="subdivisions" name="subdivisions" value="{{ paras[4] }}" min=1>
                            <br>
                            </div>
                        </div>
                    </div>
                    <div>
                    <input type="submit" class="btn btn-primary" name="btn" id="close_btn" value="Close"/>
                    <label hidden>{{ pid }}</label>
                    <input disabled type="submit" class="btn btn-success" name="btn" id="btn_train" value="Train again"/>
                    <input disabled type="submit" class="btn btn-success" name="btn" id="btn_test" value="Test" />                
                    </div>
                    <br>
                    <div class="page-header">
                        <div class="alert alert-success" id="finish" role="alert" style="display:none">
                                <strong>Well done!</strong> successfully.
                        </div>
                        <div class="alert alert-danger" id="error" role="alert" style="display:none">
                                <strong>Error!</strong> CUDA Error: out of memory.
                        </div>
                        <div class="alert alert-info" id="process" role="alert">
                            <strong>Training!</strong> waiting....
                        </div>
                        <!-- <div id="combined-graph" class="combined-graph"
                            style="height:500px;width:100%;background:white;display:none;"></div> -->
                    </div>
                </form>
                <div id="mychart"></div>
            </div>
            
            <script type="text/javascript">
                var a= 0;              
                $(document).ready(function() {
                    $.ajaxSetup({ cache: false });
                    $('#train_nav').show();
                });

                var finish = false;
                var is_first = true;           
                var t2 = window.setInterval(()=>{                    
                    $.ajax({
                        type:'POST',
                        url:'{{url_for("training_status_post")}}',
                        dataType:'json',
                        success:function(data){
                            // console.log(data[0]["status"]);
                            // console.log(data[0]["avg_loss"]);
                            if(data[0]["status"]=="Success"){
                                $("#finish").show();
                                $("#process").hide();
                                document.getElementById("close_btn").disabled =true;
                                document.getElementById("btn_train").disabled = false;
                                document.getElementById("btn_test").disabled = false;
                                clearInterval(t2);
                            }
                            else if(data[0]["status"]=="Error"){
                                $("#error").show();
                                $("#error").text(data[0]["Description"])
                                $("#process").hide();
                                document.getElementById("close_btn").disabled =true;
                                document.getElementById("btn_train").disabled = false;
                                document.getElementById("btn_test").disabled = false;
                                clearInterval(t2);
                            }
                            
                            if(is_first){
                                chart = c3.generate({
                                title: {
                                    text:'External JSON loading via C3.js'
                                },
                                bindto: '#mychart',
                                data: {
                                    json:{
                                        'avg_loss': data[0]["avg_loss"]
                                    },
                                    type: 'area-spline',
                                }
                            });
                            is_first=false
                            }else{
                                chart.load({ json:{
                                    'avg_loss': data[0]['avg_loss']}}
                                )
                                chart.flush();
                            }
                        },
                    });
                    
                }, 5000);

              
            </script>
          </main>
    </body>
</html>
