<html>
    <head>
        <title>Deep Learning</title>
        <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap-theme.min.css">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" />    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
        <script src="static/papaparse.min.js"></script>
    </head>
    {% include '_navbar.html' %}
    
    <style>
            button:disabled,
            button[disabled]{
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
    </style>

    <body>
        <div class="container"> 
        
        <h2>YOLO Parameter</h2>
            <form action="{{ url_for('option') }}" method="post">
                <div class="form-group">
                        
                    </div>
                <div class="form-group">
                <div class="form-group">
                    
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Train Parameters</button>
                    <div id="demo" class="collapse">
                        <label >Dataset: </label>
                        <input disabled type="text" class="form-control" id="dataset" value="{{ paras[0] }}">
                        <label for="max_batches">Train_epoch:</label>
                        <input disabled type="number" class="form-control" id="max_batches" value="{{ paras[1] }}" min=1>
                        <!-- <input type="number" class="form-control" id="train_epoch" name="train_epoch" value="120000" min=1> -->
                        <br>
                        <label for="learning_rate">Learning rate:</label>
                        <input disabled type="number" class="form-control" id="learning_rate" name="average_loss" value="{{ paras[2] }}" min=0>
                        <br>
                        <label for="batch">Batch_size:</label>
                        <!-- <input type="number" class="form-control" id="batch" name="batch" value="64" min=1> -->
                        <input disabled type="number" class="form-control" id="batch" name="batch" value="{{ paras[3] }}" min=1>
                        <br>
                        <label for="subdivisions">Subdivisions:</label>
                        <!-- <input type="number" class="form-control" id="subdivisions" name="subdivisions" value="16" min=1> -->
                        <input disabled type="number" class="form-control" id="subdivisions" name="subdivisions" value="{{ paras[4] }}" min=1>
                        <br>
                        <input hidden type="label" id=filepath value={{filepath}}>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" name="btn" id="close_btn" value="Close"/>
                <label hidden>{{ pid }}</label>
                <input disabled type="submit" class="btn btn-success" name="btn" id="btn_train" value="Train again"/>
                <input disabled type="submit" class="btn btn-success" name="btn" id="btn_test" value="Test" />                
                <input type="hidden" name="tt1" id="tt1" value="{{ img_name }}">
                <input type="hidden" name="tt2" id="tt2" value="{{ max_batch }}">
                <div class="page-header">

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" id="b1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">                           
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" id="b2" hidden=true role="progressbar" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            Complete (info)
                        </div>
                    </div>
                    <div class="alert alert-success" id="finish" role="alert" style="display:none">
                            <strong>Well done!</strong> successfully.
                    </div>
                    <div class="alert alert-info" id="process" role="alert">
                        <strong>Training!</strong> waiting....
                    </div>
                    <div id="combined-graph" class="combined-graph"
                        style="height:500px;width:100%;background:white;display:none;"></div>
                </div>
            </form>
            <div id="chart"></div>
            <!-- <script src="static/create-graph.js"></script> -->
        </div>
        
        

        <script type="text/javascript">
            
            var filepath = document.getElementById("filepath").value
            function parseData(is_first) {
                console.log("static/task/"+filepath+"/train_log_loss.txt")
                Papa.parse("static/task/"+filepath+"/train_log_loss.txt", {
                    download: true,
                    complete: function(results) {
                        iter = [];
                        var loss = ["loss"];
                        console.log("~~~~~~~~~!!!!!!!!~~~~~~~~~~");
                        console.log(results.data.length);
                        console.log("~~~~~~~~~!!!!!!!!~~~~~~~~~~");
                        for (var i = 0; i < results.data.length-1; i++) {		
                            var data_s1 = results.data[i][0].split(":");
                            var data_s2 = (results.data[i][1]).split(" ");
                            iter.push(data_s1[0]);
                            loss.push(data_s2[1]);
                            console.log("= = = = = Data = = = = ")
                            console.log(results.data);
                            console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~");
                            console.log(iter);
                            console.log(loss);
                            console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~");
                            createGraph(iter, loss);
                       
                        }
                    }
                });
            }

            function createGraph(iter, loss) {
                // console.log(iter);
                console.log("~~~~~~~~~~~~~  createGraph  ~~~~~~~~~~~");

                var chart = c3.generate({
                    bindto: '#chart',
                    data: {
                        columns: [loss]
                    },
                    axis: {
                        x: {
                            type: 'category',
                            categories: iter,
                            tick: {
                                multiline: false,
                                culling: {
                                    max: 15
                                }
                            }
                        }
                    },
                    zoom: {
                        enabled: true
                    },
                    legend: {
                        position: 'right'
                    }
                });
            }

            function drawCombinedGraph(iter, loss) {
                console.log("==========================");
                console.log(iter);
                console.log(loss);
                console.log("==========================");
                if (typeof drawCombinedGraph.chart == 'undefined') {
                    // create instance of C3 chart
                    drawCombinedGraph.chart = c3.generate($.extend({
                        bindto: '#chart',          
                        data: {
                            columns: [loss]
                        },
                        axis: {
                            x: {
                                type: 'category',
                                categories: iter,
                                tick: {
                                    multiline: false,
                                    culling: {
                                        max: 15
                                    }
                                }
                            }
                        },
                        zoom: {
                            enabled: true
                        },
                        legend: {
                            position: 'right'
                        }
                    }));
                }
                else
                {
                    // just update data
                    drawCombinedGraph.chart.load(data);
                    // drawCombinedGraph.chart.data.names(data.names);
                }
            }
            img_name = document.getElementById("tt1").value;
            epoch = document.getElementById("tt2").value;
            var finish = false;
            var is_first = true;
            parseData();
            is_first = false;
            var t2 = window.setInterval(()=>{
                $.ajax({
                    cache:false, 
                    url:'static/test.txt',
                    success: function(){
                        $("#finish").show();
                        $("#process").hide();
                        finish=true
                        document.getElementById("close_btn").disabled =true;
                        document.getElementById("btn_train").disabled = false;
                        document.getElementById("btn_test").disabled = false;                
                        clearInterval(t2);
                        $(document).ready(function(){
                            $("#b1").hide();                            
                            $("#b2").show();                   
                        })                        
                    },           
                });
                parseData();
            }, 10000);
          </script>
          
    </body>
</html>
