<html>
    <head>
        <title>Deep Learning</title>
        <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap-theme.min.css">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    {% include '_navbar.html' %}
    
    <style>
            button:disabled,
            button[disabled]{
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
    </style>
    <body>
        <div class="container"> 
        
        <h2>YOLO Parameter</h2>
            <form action="{{ url_for('option') }}" method="post">
                <div class="form-group">
                        
                    </div>
                <div class="form-group">
                <div class="form-group">
                    
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Train Parameters</button>
                    <div id="demo" class="collapse">
                        <label >Choose dataset: </label>
                        <input disabled type="text" class="form-control" id="datasetname" value="{{ dirList }}">
                        <label for="max_batches">Train_epoch:</label>
                        <input disabled type="number" class="form-control" id="max_batches" value="{{ max_batch }}" min=1>
                        <!-- <input type="number" class="form-control" id="train_epoch" name="train_epoch" value="120000" min=1> -->
                        <br>
                        <label for="learning_rate">Average_loss:</label>
                        <input disabled type="number" class="form-control" id="learning_rate" name="average_loss" value="{{ lr }}" min=0>
                        <br>

                    </div>
                </div>
                <input type="submit" class="btn btn-primary" name="btn" id="close_btn" value="Close"/>
                <label hidden>{{ pid }}</label>
                <input disabled type="submit" class="btn btn-success" name="btn" id="btn_train" value="Train again"/>
                <input disabled type="submit" class="btn btn-success" name="btn" id="btn_test" value="Test" />                
                <input type="hidden" name="tt1" id="tt1" value="{{ img_name }}">
                <input type="hidden" name="tt2" id="tt2" value="{{ max_batch }}">
                <div class="page-header">                    

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" id="b1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">                           
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" id="b2" hidden=true role="progressbar" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            Complete (info)
                        </div>
                    </div>
                    <div class="alert alert-success" id="finish" role="alert" style="display:none">
                            <strong>Well done!</strong> successfully.
                    </div>
                    <div class="alert alert-info" id="process" role="alert">
                        <strong>Training!</strong> waiting....
                    </div>
                </div>
            </form>            
        </div>
        <br>
        <script>             
            function time_controll(epoch){
                if (epoch > 100000){
                    epoch = epoch-10000
                    return 2000000;
                }else if (epoch > 10000){
                    epoch = epoch-2000
                    return 200000;
                }else if (epoch > 5000){
                    epoch = epoch-1000
                    return 100000;  //100s
                }else if (epoch > 1000){
                    epoch = epoch-100
                    return 45000;   //45s
                }else if (epoch > 50){
                    epoch = epoch-10
                    return 10000;   //10s
                }else if (epoch < 20){
                    return 3000;
                }
            }
            img_name = document.getElementById("tt1").value;
            epoch = document.getElementById("tt2").value            
            var finish = false
            var t2 = window.setInterval(function (){
                $.ajax({
                    cache:false, 
                    url:'static/test.txt',
                    success: function(){
                        $("#finish").show();
                        $("#process").hide();
                        finish=true
                        document.getElementById("close_btn").disabled =true;
                        document.getElementById("btn_train").disabled = false;
                        document.getElementById("btn_test").disabled = false;                
                        clearInterval(t2);
                        $(document).ready(function(){
                            $("#b1").hide();                            
                            $("#b2").show();                   
                        })
                        
                        var img = new Image();
                        img.onload = function () {
                        // alert(img_name+" is loaded");
                        }
                        img.src = 'static/Figure/'+img_name+".png";
                        document.body.appendChild(img);
                    },
                    error: function()
                    {
                        $.ajax({
                        url:'static/Figure/'+img_name+".png",
                        success: function()
                        {
                            img.src = 'static/Figure/'+img_name+".png";
                            document.body.appendChild(img);
                        }
                    });
                    },
                });
            },time_controll(epoch));
        
        </script> 
    </body>
</html>
